/* profile image */
.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: auto;
}

.file-input {
  display: none;
}

.upload-button {
}
